:root {
    --color-background: #780116;
    --color-primary: #DB7C26;
    --color-accent: #F7B538;
    --color-secondary: #D8572A;
    --color-tertiary: #C32F27;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding-top: 80px;

    font-family: 'Arimo', sans-serif;
}