---
// inside the tripple dashes is the component formatter, this code never runs in the browser
import Nav from "../components/nav.astro"
---

<html>
	<!--navigation bar -->
	<Nav/>
	<h1>Hello world</h1>
</html>
<style>
</style>