---
// inside the tripple dashes is the component formatter, this code never runs in the browser
import Nav from "../components/nav.astro";
import Head from "../components/head.astro";
import Member from "../components/member.astro"
---

<html>
	<Head />
	<body>
		<Nav/>

		<Member
			member_name = "Tantham Tanthuvanit"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "Chatchawin Tanasomwang"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "Wuthipat wongprechagul"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "Peeranat Pattamarangkul"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "Pawee Charoensin"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "Chaiyapat Suwanrasamee"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>
		<Member
			member_name = "John Doe"
			member_role = "Team Captain"
			member_image = "/public/images/placeholder.svg"
			member_description = "PLACEHODLER TEXT"
		/>

	</body>
</html>

<style>

</style>
